body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
}

h1 {
    display: flex;
    justify-content: center;
}

.navegacion {
    display: flex;
    justify-content: center;
    background-color: lavender;
    background-size: contain;
    padding: 15px 0px 0px;
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: solid black 5px;
    border-radius: 10px;
    text-align: center;
}

a {
    font-size: 25px;
    padding: 25px;
    text-decoration: none;
    color: pink;
}

a:hover {
    color: red;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

p {
    text-align: center;
    font-size: 50px;
}

section,
p {
    font-size: 25px;
    text-align: center;
    margin: 25px;
}